.fui-line-diy {
    height: auto;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    padding: 10px 0;
}
.fui-line-diy .line {
    height: 0px;
    width: 100%;
    border-top: 1px solid #000000;
}

.fui-line-diy:before {
    border: 0;
    height: 0;
}

.fui-title {
    color: #888;
    font-size: 14px;
    padding: 0 0.7rem;
}

.fui-picture {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.fui-picture img {
    display: block;
    width: 100%;
}

.fui-goods-group {
    background: none;
}

.fui-goods-item .image {
    height: 80px;
    width: 80px;
    float:left;
    background-size:100%;
    position: relative;
}

.fui-goods-item .detail .price .buy {
    display:block;
    text-align: center;
    line-height: 20px;
    color: #fff; font-size: 12px;
    background: #fe5455;
    border-radius: 20px;
    display: block;
    font-size: 12px;
    height: 20px;
    width: 20px;
    padding: 0;
}

.fui-goods-item .detail .price .buy.buybtn-3 {
    width: auto;
    padding: 0 5px;
    border-radius: 3px;
}

.fui-goods-item .image .goodsicon {
    position: absolute;
    height: auto;
    width: auto;
    display: block;
    overflow: hidden;
}

.fui-goods-item .image .goodsicon img {
    display: inline-block;
    max-width: 100%;
}

.fui-goods-item .image .goodsicon.left {
    left: 0;
}

.fui-goods-item .image .goodsicon.right {
    right: 0;
}

.fui-goods-item .image .goodsicon.top {
    top: 0;
}

.fui-goods-item .image .goodsicon.bottom {
    bottom: 0;
}

.fui-swipe-page {
    height: 14px;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    line-height: 14px;
}

.fui-swipe-page.left {
    text-align: left;
}

.fui-swipe-page.center {
    text-align: center;
}

.fui-swipe-page.right {
    text-align: right;
}


.fui-swipe-page.rectangle .fui-swipe-bullet {
    height: 12px;
    width: 20px;
}

.fui-swipe-page.square .fui-swipe-bullet {
    height: 12px;
    width: 12px;
}

.fui-swipe-page.round .fui-swipe-bullet {
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.fui-swipe-page .fui-swipe-bullet {
    display: inline-block;
    margin: 0 4px 0 0;
    border-radius: 0;
}

.searchbtn {
    background: none;
    border: 0;
}

.searchbar,
.fui-searchbar {
    height: auto;
}
.searchbar {
    padding: 0;
}

.searchbar.right {
    text-align: right;
}

.search-input.radius {
    border-radius: 5px;
}

.search-input.round {
    border-radius: 30px;
}

.fui-picturew {
    height: auto;
    display: block;
    overflow: hidden;
}

.fui-picturew .item {
    height: auto;
    width: 100%;
    display: block;
    float: left;
}

.fui-picturew .item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.fui-picturew.row-2 .item {
    width: 50%;
}

.fui-picturew.row-3 .item {
    width: 33.33%;
}

.fui-picturew.row-4 .item {
    width: 25%;
}

.diymenu-page {
    height: 100%;
    width: 100%;
    line-height: 600px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.diymenu {
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    box-shadow:0 0 4px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.1);
}

.diymenu .item {
    height: 50px;
    width: 25%;
    display: block;
    background: #fff;
    float: left;
    position: relative;
    cursor: pointer;
}

.diymenu .item.item-col-1 {
    width: 100%;
}

.diymenu .item.item-col-2 {
    width: 50%;
}

.diymenu .item.item-col-3 {
    width: 33.33%;
}

.diymenu .item.item-col-4 {
    width: 25%;
}

.diymenu .item.item-col-5 {
    width: 20%;
}

.diymenu .item .child {
    display: block;
    height: auto;
    min-width: 90px;
    max-width: 130px;
    background: #eee;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -45px;
    z-index: 996;
    border-radius: 3px;
    border: 1px solid #ccc;

    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
}

.diymenu .item .child.in {
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.diymenu .item .child a {
    clear: both;
    display: block;
    padding: 8px;
    font-size: 13px;
    position: relative;
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.diymenu .item .child a:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    height: 0;
    border-top: 1px solid #ccc;
}

.diymenu .item .child a:first-child:after {
    border: none;
}

.diymenu .item .child .arrow {
    width: 18px;
    height: 18px;
    color: #ccc;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
}

.diymenu .item .child .arrow:after,
.diymenu .item .child .arrow:before {
    position: absolute;
    bottom: 3px;
    left: 3px;
    content: "";
    height: 12px;
    width: 12px;
    background: #000;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    z-index: 997;
}

.diymenu .item .child .arrow:after {
    bottom: 4.5px;
    background: #ccc;
    z-index: 998;
}

.diymenu .item .inner {
    height: 100%;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
    text-align: center;
    color: #fff;
    padding: 8px 0;
}

.diymenu .item .inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid #000;
}

.diymenu .item .inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #000;
}

.diymenu .item:first-child .inner:after {
    border-left: 0;
}

.diymenu .item .inner .icon {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #666;
}

.diymenu .item .inner .text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    overflow: hidden;
    margin: 0 2px;
    height: 16px;
}
.diymenu .item .inner .icon.left,
.diymenu .item .inner .text.left {
    display: inline-block;
}
.diymenu .item .inner .text.left {
    margin-top: 10px;
    font-size: 14px;
}
.diymenu .item .inner .icon.left {
    font-size: 18px;
}

.diymenu .item .inner.image {
    padding: 1px 0 2px 0;
}

.diymenu .item .inner.image img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
}
.diymenu .item .inner .badge {
    background: red none repeat scroll 0 0;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.6rem;
    height: 0.8rem;
    left: 50%;
    line-height: 0.8rem;
    margin-left: 0.1rem;
    min-width: 0.8rem;
    padding: 0 0.2rem;
    position: absolute;
    top: 0.1rem;
    vertical-align: top;
    z-index: 100;
}
