.floL{float: left;}
.floR{float: right;}
.fontW{font-weight: bold;}
.red{color: red}
.gray{color: gray}
.gray1{color:#686868}
.white{color: #fff}
.greenBg{background-color: #46cec0}
.font16{font-size: 16px}
.pad5{padding: 5px}
.mart10{margin-top: 10px}
.mart20{margin-top: 20px}
.disInBlock{display: inline-block;}
input, button, select, textarea{line-height: normal;}
.icon-back {
    width:25px;
    height:25px;
    margin-top: 10px;
}